$backgroundPrimary: #280069b5;
//$backgroundPrimary: #690000b5;
$colorPrimary: white;

div#container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#toolbar {
    //border: 1px red solid;
    height: 80px;
    background-color: white;
    border-bottom: 1px $backgroundPrimary solid;

    #logo {
        width: 12%;
        //border: 1px blue solid;
        text-align: center;

        #logo {
            width: 80%;
        }
    }

    #pesquisa {
        width: 40%;
        //border: 1px green solid;
        margin-top: -15px;

        mat-form-field {
            top: 61px;
            width: 100%;
            height: 0px;
        }
    }

    #restrito {
        width: 48%;
        //height: 100%;
        //border: 1px orange solid;
        font-size: 12px;
        color: $backgroundPrimary;
        //padding-top: 22px;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;

        span {
            text-align: center;
            border: 1px $backgroundPrimary solid;
            border-radius: 10px;
            padding: 3px 10px 3px 10px;
            margin-left: 10px;
            width: 25%;
            height: 49px;
            cursor: pointer;
            display: flex;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .mat-icon {
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        span:hover {
            background-color: $backgroundPrimary;
            color: white;
            cursor: pointer;
            transition: all 0.2s;
        }
    }
}

#sub-bar {
    text-align: center;
    padding: 10px;
    background-color: $backgroundPrimary;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;

    div {
        color: white;
        width: 15em;
        border-radius: 10px;
        padding: 5px;
    }
}

#sub-bar>div:hover {
    background-color: white;
    color: $backgroundPrimary;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

div#container > div#content {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;

    div#coluna-esquerda {
        width: 10%;
        height: 100%;
    }

    div#coluna-centro {
        width: 80%;
        height: 100%;
        background-color: whitesmoke;
    }

    div#coluna-direita {
        width: 10%;
        height: 100%;
    }

}